$tm-blue: #4c93e4;
$tm-blue-lime: #f3f5ff;
$tm-green: #389e0d;
$tm-green-lime: rgb(243, 252, 237);
$tm-red: #f5222d;
$tm-red-lime: #fff5f5;
$tm-red-deep: #F56C6C;
$tm-bg-gray:  #eeeeee;
$tm-gray: #9E9E9E;
$DJKAS: #00040b;
